---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.all %}
{%- if p.url and p.url.endsWith("/") %}
  <url>
    <loc>{{ site.url }}{{ p.url }}</loc>
    {%- if p.date %}
    <lastmod>{{ p.date | isoDate }}</lastmod>
    {%- endif %}
    <changefreq>{% if p.url == "/" or p.url == "/vi/" %}weekly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if p.url == "/" %}1.0{% elif p.url == "/vi/" %}0.9{% elif "blog" in p.url %}0.7{% else %}0.6{% endif %}</priority>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
